
@{
     Layout = null;
     var noti = ViewBag.Notification;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Assets/css/reset.css">
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <script src="~/Assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/import/header.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/import/signin.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKciYMKyfqwbHKomspS3ijXcJ7jcuvcGQ&callback=myMap"></script>
</head>
<body>
    <div class="wrapper-login"> 
        <div class="header-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/Assets/images/logo.png" alt="logo" class="img-fluid">
                    </div>
                </div>
            </div>
           
        </div>
        <div class="body-login container">
             <div class="row">
                  <div class="col-md-12 my-5">
                       <div class="signin">
                            <h1 class="signin_heading">Đăng Nhập</h1>
                            <div class="role" style="width: fit-content; margin: auto;">
                                 <div class="form-group">
                                      <input type="radio" name="gender" value="male" id="male">
                                      <label for="male">Sinh viên</label>
                                      <input type="radio" name="gender" value="female" id="female">
                                      <label for="female">Phụ huynh</label>
                                 </div>
                                 @*<label for="role_1" class="checkbox_item">
                                  <i class="fa fa-check" aria-hidden="true"></i>
                                  <input type="checkbox" class="checkbox" id="role_1" value="Sinh viên" /> Sinh viên
                              </label>

                              <label for="role_2" class="checkbox_item">
                                  <i class="fa fa-check" aria-hidden="true"></i>
                                  <input type="checkbox" class="checkbox" id="role_2" value="Phụ huynh" /> Phụ huynh
                              </label>*@


                            </div>

                            <div class="signin-line" style="width: 100%; height: 1px; background-color: #0c7a47; margin-top: 20px;"></div>

                            <form id="Action" action="/Login/Login" class="signin-form" autocomplete="off">
                                 <label for="username" class="signin-label font-weight-bold">Tên Đăng Nhập</label> <p style="color:red" id="Notificationusername">@noti</p>
                                 <input type="text" id="username" name="Student_Id" class="signin-input" placeholder="Eg: TriVan77">
                                 <label for="password" class="signin-label font-weight-bold">Mật Khẩu</label> <p style="color:red" id="Notificationpassword"></p> 
                                 <input type="password" id="password" name="Password" class="signin-input" placeholder="Eg: *******">
                                 <button id="login" class="signin-submit">Đăng Nhập</button>
                            </form>
                            <p class="signin-already" style="margin-top: 27px; text-align: center;">
                                 <span>Bạn chưa có tài khoản ?</span>
                                 <a href="#" class="signin-signup-link" style="color: #0c7a47;">Đăng Ký</a>
                            </p>
                       </div>
                  </div>
             </div>

             <script>
                  var check = false;

                  $("#login").click(function () {


                       if ($("#username").val() == "") {
                            $("#Notificationusername").text("Vui lòng nhập tên đăng nhập");
                            alert("Dien user");
                            check = check & false;
                       }
                       if ($("#password").val() == "") {
                            $("#Notificationpassword").text("Vui lòng nhập mật khẩu");
                            check = check & false;
                       }

                       if (check)
                            $("#Action").submit();
                       check = true;
                  });
             </script>

        </div>
        <div class="footer-login ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="infor">
                            <p style="margin-top: 20px; font-size: 20px; font-weight: bold;">Thông Tin Liên Lạc</p>
                            <p style="margin-top: 20px; font-size: 16px; padding-left: 10px;">
                                Địa chỉ : 236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội <br>
                                <br> Điện thoại: 069.515200 <br>
                                <br> Email: info@mta.edu.vn
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="googleMap">
                            <p style="margin-top: 20px; font-size: 20px; font-weight: bold;">Bản Đồ</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14893.313386370726!2d105.77157707823488!3d21.05954415079202!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1630513365099!5m2!1svi!2s"
                                    width="346" height="115" style="margin: 5px 5px 5px 5px;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="authority">© 2021 Bản quyền thuộc Trung tâm CNTT - Học viện KTQS</div>
            </div>                       
        </div>
    </div>
</body>
</html>
