@{
    ViewBag.Title = "Home Page";
}
<div style="display:flex">


    <div>
        <nav class='animated bounceInDown bg-dark'>
            <ul>
                <li><a href='#profile'>Profile</a></li>
                <li><a href='#message'>Messages</a></li>
                <li class='sub-menu'>
                    <a href='#settings'>Settings<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a href='#settings'>Account</a></li>
                        <li><a href='#settings'>Profile</a></li>
                        <li><a href='#settings'>Secruity &amp; Privacy</a></li>
                        <li><a href='#settings'>Password</a></li>
                        <li><a href='#settings'>Notification</a></li>
                    </ul>
                </li>
                <li class='sub-menu'>
                    <a href='#message'>Help<div class='fa fa-caret-down right'></div></a>
                    <ul>
                        <li><a href='#settings'>FAQ's</a></li>
                        <li><a href='#settings'>Submit a Ticket</a></li>
                        <li><a href='#settings'>Network Status</a></li>
                    </ul>
                </li>
                <li><a href='#message'>Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-body">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $('.sub-menu ul').hide();
    $(".sub-menu a").click(function () {
        $(this).parent(".sub-menu").children("ul").slideToggle("100");
        $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
    });
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>